* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://opengameart.org/sites/default/files/Preview_143.png);
}

header {
  font-size: 8vmin;
}


main {
  display: flex;
  flex-direction: row;
}

#player-board {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-right: 5vmin;
    background-color: #42a4f5;
  }

  #player-board > div {
    border: .1vmin solid black;
  }

  #ai-board {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-left: 5vmin;
    background-color: rgba(255, 0, 0, 0.6);
  }

  #ai-board > div {
    border: .1vmin solid black;
  }

  /* .red-dot {
    border-radius: 50%;
    background-color: red;
    height: 5px;
    width: 5px;
  }

  .black-dot {
    border-radius: 50%;
    background-color: black;
    height: 5px;
    width: 5px;
  } */

  section > div:hover {
    border: .1vmin solid red;
  }

