* {
    box-sizing: border-box;
}

header {
  font-weight: bold;
  font-size: 10vmin;
}

body {
    height: 100vh;
    font-size: 3vmin;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Preview_143.png");
    background-size: 225vmin;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: lightblue;
  border: 1vmin solid black;
  width: 70vmin;
  height: 50vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#modal-title {
  text-align: center; 
  font-size: 8vmin;
  font-weight: bold;
}

#modal-colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vmin;
}

#modal-colors > div {
  border: .5vmin solid black;
  height: 10vmin;
  width: 10vmin;
}
#modal-colors > div:hover {
  border: .5vmin solid red;
}

#modal-colors div.active {
  border: .5vmin solid red;
}

.red {
  background-color: #cf1111;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.orange {
  background-color: #f57d14;
}

#overlay {
  position: fixed; 
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} 

h2 {
  font-size:3vmin;
}

.player-turn, .ai-turn {
  border-radius: 10%;
  color: white;
}

.player-turn {
  background-color: #42a4f5;
  height: 5vmin;
  width: 18vmin;
}

.ai-turn {
  background-color: #eb4b4b;
  height: 5vmin;
  width: 22vmin;
}

header {
  font-size: 8vmin;
}

#turn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vmin;
  font-size: 3vmin;
}


main {
  display: flex;
  flex-direction: row;
}

#player-board {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-right: 5vmin;
    background-color: #42a4f5;
    border: .5vmin solid black;
  }

  #player-board > div, #ai-board > div {
    border: .05vmin solid black;
  }

  #player-board > div:hover {
    background-color: #1676c4;
    transition: 0.05s;
  } 

  #ai-board > div:hover {
    cursor: pointer;
    background-color: #cf1111;
    transition: 0.05s;
  }

  #ai-board {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    margin-left: 5vmin;
    background-color: #eb4b4b;
    border: .5vmin solid black;
  }

  .red-dot,
  .white-dot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.red-dot::after, 
.white-dot::after {
  content: '';
  position: absolute;
  margin: auto;
  border-radius: 100%;
  width: 1.5vmin;
  height: 1.5vmin;
}

.red-dot::after {
    background-color: red;
  }

.white-dot::after {
    background-color: white;
  } 

.ship {
  background-color: grey;
  }


.empty {
    content: '';
  }

#ships > div:hover {
    border: .1vmin solid red;
}

button {
  height: 5vmin;
  width: 18vmin;
  font-size: 3vmin;
  background-color: #f57d14;
  border: .2vmin solid white;
  cursor: pointer;
}

button:hover {
  background-color: #3a75c2;
  color: white;
  transition: 0.1s;
}